 @font-face {
    font-family: 'droid';
    src: url('font/DroidKufi-Regular.ttf');
}

@font-face {
    font-family: 'droid_naskh';
    src: url('font/DroidNaskh-Regular.ttf');
}
@font-face {
    font-family: 'GESSTOW_Bold';
    src: url('font/GE_SS_Two_Bold.eot');
    src: url('font/GE_SS_Two_Bold.eot?#iefix') format('embedded-opentype'),
        url('font/GE_SS_Two_Bold.woff') format('woff'),
         url('font/GE_SS_Two_Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

